html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

main, article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 16px; }

header {
  height: 60px;
  background-color: grey;
  color: black; }
  header ul {
    list-style: none; }
    header ul li {
      display: inline-block; }

body {
  font-family: Arial; }

.main-preview {
  margin-top: 30px;
  margin-bottom: 30px; }
  .main-preview #main-photo {
    width: auto;
    height: 550px; }
  .main-preview .main-element {
    height: 550px;
    background-color: grey; }
    .main-preview .main-element h1 {
      font-size: 28px;
      font-weight: bold;
      padding: 20px 20px 10px 20px; }
    .main-preview .main-element p {
      font-size: 18px;
      padding: 0px 20px 20px 20px; }
    .main-preview .main-element div button {
      display: block;
      margin: auto;
      margin-bottom: 20px;
      background-color: lightgrey;
      height: 60px;
      width: 200px;
      font-size: 20px;
      font-weight: bold;
      color: white;
      border: 0px; }

.secondary-preview .content-type {
  float: left; }

.secondary-preview .secondary-content {
  background: grey;
  width: 380px;
  padding: 20px 0px 20px 0px; }
  .secondary-preview .secondary-content h1 {
    margin: 10px; }
  .secondary-preview .secondary-content p {
    margin: 10px; }
  .secondary-preview .secondary-content button {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    background-color: lightgrey;
    height: 60px;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 0px; }

#masonry * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#masonry .secondary-element {
  width: 380px;
  float: left;
  margin: 5px; }
  #masonry .secondary-element .content-type {
    float: left; }
  #masonry .secondary-element .secondary-content {
    background: grey;
    padding: 20px 0px 20px 0px; }
    #masonry .secondary-element .secondary-content h1 {
      margin: 10px; }
    #masonry .secondary-element .secondary-content p {
      margin: 10px; }
    #masonry .secondary-element .secondary-content button {
      display: block;
      margin: auto;
      margin-bottom: 20px;
      background-color: lightgrey;
      height: 60px;
      width: 200px;
      font-size: 20px;
      font-weight: bold;
      color: white;
      border: 0px; }

.grid-container {
  width: 100%;
  max-width: 1200px;
  border: 1px solid red;
  margin: 0 auto; }
  .grid-container .row:before, .grid-container .row:after {
    content: "";
    display: table;
    clear: both;
    border: 1px solid blue; }
  .grid-container .row [class*="col-"] {
    float: left;
    min-height: 1px;
    border: 1px solid greenyellow; }
  .grid-container .col-12 {
    width: 100%; }
  .grid-container .col-11 {
    width: 91.66667%; }
  .grid-container .col-10 {
    width: 83.33333%; }
  .grid-container .col-9 {
    width: 75%; }
  .grid-container .col-8 {
    width: 66.66667%; }
  .grid-container .col-7 {
    width: 58.33333%; }
  .grid-container .col-6 {
    width: 50%; }
  .grid-container .col-5 {
    width: 41.66667%; }
  .grid-container .col-4 {
    width: 33.33333%; }
  .grid-container .col-3 {
    width: 25%; }
  .grid-container .col-2 {
    width: 16.66667%; }
  .grid-container .col-1 {
    width: 8.33333%; }

.gird-item {
  width: 380px; }
