.section-header {
    h2 {
        padding: 10px 0px 10px 0px;
        margin: 20px 0px 20px 0px;
        border: 4px solid $secondaryColor;
        border-left: 0px;
        border-right: 0px;
        display: inline-block;
        font-size: 18px;
        font-weight: bold;
    }
}


#masonry {
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .secondary-element {
        width: 380px;
        float: left;
        margin-bottom: 20px;
        position: relative;
        .content-type {
            float: left;
            position: absolute;
            margin: 20px;
            padding: 10px;
            background-color: $secondaryColor;
            color: $mainColor;
        }

        .secondary-content {
            background: $mainColor;
            // width: 380px;
            padding: 20px 10px 20px 10px;
            border: 1px solid $additionalColor;
            border-top: 0px;

            h1 {
                margin: 0px 20px 0px 20px;
                font-size: 18px;
                font-weight: bold;
            }

            p {
                margin: 20px;
                font-size: 16px;
            }
            button {
                display: block;
                margin: auto;
                // margin-bottom: 20px;
                background-color: $secondaryColor;
                height: 60px;
                width: 200px;
                font-size: 20px;
                font-weight: bold;
                color: $mainColor;
                border: 0px;
            }
        }

    }
}
